.login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #622D77; 
}

.login-form {
  background: #B57CC8;
  padding: 20px;
  padding-top: 3px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 28%; 
}

.login-form h2 {
  margin-bottom: 20px;
  text-align: center;
}

.login-form div {
  margin-bottom: 10px;
}

.login-form label {
  display: block;
  margin-bottom: 5px;
}

.login-form input {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  box-sizing: border-box;
  border: none;
  height: 35px;
}

.login-form input:focus {
  border: 2px solid #622D77; 
  outline: none; 
}

.login-form button {
  width: 100%;
  padding: 10px;
  background-color: #622D77;
  height: 35px;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 22px;
  margin-bottom: 12px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #8b34a8;
}
